---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Cursos en ingles">
    <section>
        <h1> Cursos que te ayudaran en el proceso de aprendizaje</h1>
        <p>Los cursos t`e ayudar de un manera más estructura a iniciar el aprendizaje del idioma, la semántica y sintáctica. Elije uno de estos curso y siguelos.</p>
        <figure>
            <figcaption>1. Video</figcaption>
            <a href="https://www.pacho8a.com/curso-ingles-desde-cero/" target="_blank"><img  src="/image/11-cursos-480x360.jpg" alt=""></a>
        </figure> 
        
        <figure>
            <figcaption class="cap">2. Video</figcaption>
            <a href="https://spanishfreelessonsonline.com/curso-de-ingles/" target="_blank"><img src="/image/12-cursos-480-360.jpg" alt=""></a>
        </figure>

        <figure>
            <figcaption class="cap">3. Video</figcaption>
            <a href="https://www.youtube.com/watch?v=99FY4YcOUPE&t=157s" target="_blank"><img src="/image/13-cursos.-480-360.jpg" alt=""></a>
        </figure>
        
    </section>
</Layout>

<style>
    section{
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        color: white;
    }

    img{
        width: 100%;
        padding: 5px;
    }

    section figure{
        text-align: center;
    }
    section p{
        text-align: left;
    }
</style>





