---
import Layout from '../layouts/Layout.astro'
---
<Layout title='Metodologia'>
    <section>
        <div>
            <h1>Un forma de aprender </h1>
            <h3>(input comprensible)</h3>
        </div>
        <h2>1.  Anki (30 minutos)</h2>
        <p>Anki es una aplicación de software de tarjetas de memoria que utiliza un sistema de repetición espaciada para ayudarte a aprender y retener información de manera efectiva. En Anki, puedes crear tus propias tarjetas de memoria con preguntas y respuestas, y la aplicación te las presentará en momentos específicos para optimizar la retención de conocimientos. Es ampliamente utilizado para el aprendizaje de idiomas, revisión de conceptos y memorización de datos importantes. Anki es una herramienta poderosa para la memorización y el aprendizaje a largo plazo.</p>
        <p>La aplicacion se la utiliza para adquirir vocabulario de palabras y frases en ingles</p>
        
        <h3>Instalacion y uso</h3>
        <ul>
            <li><p>Instalacion y uso<a href="(https://www.youtube.com/watch?v=UEhtMZagfTA"> https://www.youtube.com/watch?v=UEhtMZagfTA</a></p></li>
           <li><p>uso - creacion masiva de tarjetas<a href="(https://www.youtube.com/watch?v=UEhtMZagfTA"> https://www.youtube.com/watch?v=qH2qpkwL9Wk&t=375s</a></p></li>
        </ul>
        <h2>2. Inmersion (30 minutos)</h2>
        <p>La inmersión en un idioma significa sumergirse completamente en ese idioma, rodeándose de situaciones y entornos en los que se habla ese idioma de manera constante, con el objetivo de aprenderlo de manera natural y efectiva.</p>
        <h3>Ejemplos de inmersiones</h3>
        <ul>
            <li>Peliculas</li>
            <li>Juegos</li>
            <li>Musica</li>
            <li>Lectura</li>
            <li>Podcast</li>
        </ul>
        <h2>3. Shadowing (10 - 15 minutos)</h2>
        <p>El "shadowing" es una técnica de aprendizaje de idiomas en la que una persona repite en voz alta lo que está escuchando en el idioma que está aprendiendo, tratando de imitar la pronunciación, entonación y ritmo del hablante nativo. El objetivo es mejorar la fluidez y la habilidad de hablar con acento nativo, así como internalizar estructuras gramaticales y vocabulario.</p>
        <ul>
            <li><p>Ver video explicativo <a href="https://www.youtube.com/watch?v=c3KkO-3rN8A">https://www.youtube.com/watch?v=c3KkO-3rN8A</a></p></li>
        </ul>
        <h2>4. Aplicacion para aprender ingles (15 minutos)</h2>
        <ul>
            <li>Duolingo</li>
            <li>Busuu</li>
            <li><p>Otras aplicaciones, ver video qui <a href="https://www.youtube.com/watch?v=c3KkO-3rN8A">https://www.youtube.com/watch?v=c3KkO-3rN8A</a></p></li>
        </ul>
        <h2>5. Escuchar ingles durante en tiempos muertos</h2>
        <ul>
            <li>Descansos en el trabajo o en la escuela.</li>
            <li>El tiempo que pasas en el transporte público, como autobuses o trenes.</li>
            <li>Esperas en la sala de espera del médico o en una cita.</li>
            <li>Tiempo libre entre clases.</li>
            <li>Los minutos antes de acostarte o después de despertar.</li>
            <li>Breves pausas durante las tareas domésticas.</li>
            <li>Tiempo libre durante el almuerzo o la cena.</li>
            <li>Espacios entre reuniones o compromisos sociales.</li>
            <li>Tiempo libre durante el fin de semana o los días de descanso.</li>
            <li>Esperas en una cola o fila.</li>
        </ul>{}
    </section>
</Layout>

<style>
    section{
        margin-left: auto;
        margin-right: auto;
        max-width: 900px;
        background-color: #444654;
        color: white;
        padding-top: 50px;
    }
    
    section div{
        text-align: center;
        margin-top: 15px;
    }

    section div h3, h1{
        margin: 0;
    }
    section a{
        text-decoration: none;
        color:aqua;
    }
</style>




















