---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Porque aprender ingles">
    <section>
        <h1>Porque ?</h1>
        <p>Aprender un nuevo idioma es una inversión en ti mismo que puede enriquecer tu vida de muchas maneras. Puede mejorar tus oportunidades laborales, tu vida social, tu desarrollo cognitivo y tu aprecio por la diversidad cultural. Por lo tanto, aprender un idioma es una elección razonable y valiosa.Observa los tres videos para tener una idea más clara de los veneficios de aprender un idioma, como el inglés.</p>

        <figure>
            <figcaption>1. Video</figcaption>
            <a href="https://www.youtube.com/watch?v=GvG-PYVMXHc&t=2s" target="_blank"><img src="/image/07-razon-480x360.jpg" alt=""></a>
        </figure>
        
        <figure>
            <figcaption class="cap">2. Video</figcaption>
            <a href="https://www.youtube.com/watch?v=h8pwlUunkIM" target="_blank"><img src="/image/03-razon-480x360.jpg" alt=""></a>
        </figure>
        
        <figure>
            <figcaption>3. Video</figcaption>
            <a href="https://www.youtube.com/watch?v=ga5AhdeE1Xc&t=181s" target="_blank"><img src="/image/01-razon-480x360.jpg" alt=""></a>
        </figure>
        
    </section>
</Layout>

<style>
    section{
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        color: white;
    }

    img{
        width: 100%;
        padding: 5px;
    }

    section figure{
        text-align: center;
    }
</style>














