<div>
    <a href="/">Inicio</a>
    <a href="/metodologia">Como aprender ?</a>
    <a href="/porque-aprender-ingles">Porque aprender ingles ?</a>
    <a href="/motivacion">Motivate !</a>
    <a href="/cursos-de-ingles">Cursos de ingles</a>

</div>

<style>
    div{
        display: flex;
        justify-content:space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    div a{
        color: black;
        display: block;
        text-decoration: none;
        
    }
</style>