    <section id="motivacion">
        <h1> Animate !</h1>
        <p>Estás a punto de aventurarte en un viaje emocionante hacia un mundo lleno de posibilidades. Aprender inglés no solo te abrirá las puertas a nuevas amistades y experiencias, sino que también te dará acceso a una vasta cantidad de conocimiento y cultura. No te preocupes por los desafíos, cada error es un paso más cerca del éxito. Imagina todas las películas, canciones y conversaciones interesantes que podrás disfrutar en su idioma original. ¡Estás en el camino hacia el dominio del inglés y hacia un futuro lleno de oportunidades emocionantes! Keep going, future bilingual superstar!."
        <figure>
            <figcaption>1. Video</figcaption>
            <a href="https://www.youtube.com/watch?v=RKORuzANz8c" target="_blank"><img src="/image/05-motivacion-480x360.jpg" alt=""></a>
        </figure>
        
        <figure>
            <figcaption class="cap">2. Video</figcaption>
            <a href="https://www.youtube.com/watch?v=iUe7aLmFOcQ" target="_blank"><img src="/image/09-motivacion-480x360.jpg" alt=""></a>
        </figure>
        
    </section>

<style>
    section{
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        color: white;
    }

    img{
        width: 100%;
        padding: 5px;
    }

    section figure{
        text-align: center;
    }
</style>





